<!-- <p>
  b2b-profile works!
</p> -->
<div class="container">
  <div>
    <h1 class="heading">Account Settings</h1>
  </div>
  <div class="profile row">
    <div class="col-md-2"></div>
    <div class="col-md-8 container-body">
      <div class="card custom-card">
        <form [formGroup]="profileForm">
          <!-- <div class="form-fields"> -->
            <!-- <div class="name-fields"> -->
              
            <!-- </div> -->
            <div class="image-section d-none">
              <div class="user-image">
                <img src="../../../assets/images/steve-smith.jpg" alt="">
                <a href="">Change Photo</a>
              </div>
            </div>
          <!-- </div> -->
          <div class="row">
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Full Name</label>
                <input [formControl]="profileForm.controls['fullName']" class="form-control" type="text"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Last Name</label>
                <input [formControl]="profileForm.controls['lastName']" class="form-control" type="text"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">User Name</label>
                <input [formControl]="profileForm.controls['userName']" class="form-control" type="text"
                  placeholder="" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Email</label>
                <input [formControl]="profileForm.controls['email']" class="form-control" type="text"
                  placeholder="" readonly>
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Gender</label>
                <ng-select class="custom-input" [items]="gender" [virtualScroll]="true" placeholder="Select Gender"
                  [formControl]="profileForm.controls['gender']" bindLabel="countryName">
                </ng-select>
                <!-- <input class="form-control" type="text" placeholder=""> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Phone</label>
                <input [formControl]="profileForm.controls['phone']" class="form-control" type="text"
                  placeholder="" readonly>
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Company Name</label>
                <input [formControl]="profileForm.controls['companyName']" class="form-control" type="text"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6 d-none" >
              <div class="form-group">
                <label for="">Date of Birth</label>
                <div class="input-group">
                  <input class="form-control dateofbirth" placeholder="DD-MM-YYYY" name="dp2" ngbDatepicker
                    #d1="ngbDatepicker" #checkIn [readonly]="true"
                    [formControl]="profileForm.controls['dateofbirth']" [minDate]=""
                    (focus)="d1.open()"> 
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                        <i class="fa fa-caret-down icon-size" aria-hidden="true"></i>
                      </button>
                    </div>
                </div>
                <!-- <ng-select class="custom-input" [items]="countries" [virtualScroll]="true" placeholder="Select Country"
                  [formControl]="profileForm.controls['dateofbirth']" bindLabel="countryName">
                </ng-select> -->
                <!-- <input class="form-control" type="text" placeholder=""> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Country</label>
                <!-- <ng-select class="custom-input" [items]="countries" [virtualScroll]="true" placeholder="Select Country"
                  [formControl]="profileForm.controls['country']" bindLabel="countryName">
                </ng-select> -->
                <input [formControl]="profileForm.controls['country']" class="form-control" type="text"
                  placeholder="" readonly>
                <!-- <input class="form-control" type="text" placeholder="India"> -->
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Travel Country</label>
                <!-- <ng-select class="custom-input" [items]="countries" [virtualScroll]="true"
                  placeholder="Select Travel Country" [formControl]="profileForm.controls['travelCountry']"
                  bindLabel="countryName">
                </ng-select> -->
                <!-- <input class="form-control" type="text" placeholder=""> -->
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">Password</label>
                <input [formControl]="profileForm.controls['password']" class="form-control" type="text"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-6 d-none">
              <div class="form-group">
                <label for="">IbanNumber</label>
                <input [formControl]="profileForm.controls['ibanNumber']" class="form-control" type="text"
                  placeholder="">
              </div>
            </div>
            <div class="col-md-12 save-profile">
              <div class="form-group save-btn d-none">
                <button class="btn btn-md" disabled>Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>