<!-- <p>
  b2b-sign-in works!
</p> -->
<div class="container">
  <div class="row">
    <div class="container-body">
      <div class="card custom-card">
        <div class="">
          <form [formGroup]="signinForm">
            <!-- <div class="cancel">
               <span>x</span> 
              <i class="fa fa-times" aria-hidden="true"></i>
            </div> -->
            <div class="top-img">
              <img src="../../../assets/images/Beta Logo.png" alt="">
            </div>
            <div class="row form-fields"> 
              <!-- <div class="form-fields"> -->
                <div class="form-group">
                  <input [ngClass]="{validationClass : signInFormValidationFlag && signinForm.controls['userName'].errors}"
                   [formControl]="signinForm.controls['userName']" class="form-control custom-input" type="text" placeholder="Username">
                </div>
                <div class="form-group">
                  <input [ngClass]="{validationClass : signInFormValidationFlag && signinForm.controls['password'].errors}" 
                  [formControl]="signinForm.controls['password']" class="form-control custom-input" type="password" placeholder="Password">
                </div>
                <div class="d-flex form-group custom-input-group justify-content-between">
                  <div class="">
                    <label class="login-label checkbox-container">Stay Logged in
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <!-- <input type="checkbox"><label class="login-label" for=""></label> -->
                  </div>
                  
                  <div class="forgot-text">
                    <a href="">Forgot Password</a>
                    <a href="javascript:void(0)" (click)="navigateToSignUp()">Register</a>
                  </div>
                </div>
                <!-- <div class="form-group signin-btn"> -->
                  <button class="btn btn-md btn-block signin-btn" (click)="login()">Login</button>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>