<!-- <p>
  faq works!
</p> -->

<div class="container">
  <div class="faq-container">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>FAQ</h3>
        </div>
        <div class="card-body">
          <div>
            <p>ما هي تأشيرة العمرة عبر انترنت؟
              التأشيرة عبرانترنت خدمة مقدمة من وزارة الخارجية للمملكة العربية السعودية ويقصد بها أن تتم كل العمليات عنطريق الانترنت. كل ما عليك القيام به هو تعبئة المعلومات الخاصة في صفحة التاشيرة
              
              كيف يمكنني الحجز على الموقع؟
              كل ما عليك فعله هو إدخال التواريخ و إختيار الدولة المراد الذهاب منها من ضمن قائمة الدول . عند قيامك بحجز برنامج من على موقعنا، ستقوم باستلام ملخص بتفاصيل حجزك علي عنوان بريدك الكتروني
              
              كيف أتأكد من حجزي ؟
              يمكن تأكيد حجزك فقط بعد اتمام عملية الدفع الالكترونية بنجاح، حيث ســنقوم بإرســال رســالة "تأكيد الحجز" على بريــدك الالكترونــي والتــي تحتــوي على رقم مرجع الحجز الخاص بــك نحيطك علم بأننا نحتفــظ بالحق في إلغاء الحجز و رد اموال المدفوعة، أو تعديل اسعار و الضرائب قبل اصدارالتذكرة اذا كان ذلك ضروري
              
              ماذا يحدث بعد حجز البرنامج من الموقع؟
              لسيقوم أحد ممثلي شركة السياحة بالتواصل معك لانهاء اجراءات الحجز وإصدار تأشيرة العمرة الخاصة بك
              
              كيف يمكنني التحقق من حالة الحجز؟
              سيتم إرسال اشعارات الخصة بكل تفاصيل حجزك إلى البريد الكتروني الخاص بك
              
              ماذا أفعل إن فشل الحجز وتم خصم المبلغ من بطاقتي؟
              نبالرغم من أن الحجوزات التي لا تتم على الموقع بنجاح نادرة الحدوث . وفي حال حدوث ذلك يرجى عدم تكرار محاولة الدفع عن طريق الانترنت حتى لا تحتسب الرسوم مرتان يرجى العلم أن عدم نجاح معاملة الحجز ينجم عن ضغط في الحجوزات على مقاعد الطائرة او تجاوز الوقت المتوقع لانجاز عملية الحجز وذلك كمحاولة حجز مقعد تم حجزه مسبقا ولغيرها من اسباب
              
              ماذا لو كنت أرغب في تعديل طلبي أو إلغاء الرحلة؟
              يمكنــك التواصــل معنــا لغاء الحج. يرجى التحقق من سياســة الموقع لغاء الحجز قبل أن تقوم بإجراء أي تعديل على حجزك
              
              كيف يمكنني استرجاع قيمة التذكره في حالة الالغاء ؟
              تــم رد المبلــغ المدفــوع بنفــس الطريقة التي تم الدفع بها. فاذا قمــت بالدفع عبر بطاقتــك الائتمانية، يتم رد القيمةالمدفوعــة الــى البطاقــة الائتمانيــة . مــع العلم أنــه يتم خصــم المبالغ المدفوعة الاخــرى من المبلــغ الاجمالي قبل،اســترجاعه، وهذه الرســوم المســتحقة تشــمل : رســوم الراجحــي للعمرة لالغــاء الحجــز، المبالغ النقدية المســتردةالخصومات. ويستغرق العمل على طلب استرداد مبلغ الحجز مدة يومين عمل ومدة تترواح ما بين 40-20 يوم عمل لردالمبلغ الى حسابك الشخصي لبطاقتك الائتمانية
              
              ما هي رسوم الخدمات؟
              تم فرض هذه الرسوم لتغطية التكاليف اللازمة لتوفير الحجز عند بعض شركات الطيران، ونقوم بإضافتها في كلمرة يتم فيها تأكيد الحجز
              
              أي طرق الدفع تقبلونها؟
              قبل الدفع عبر انترنت من خلال فيزا وماستركارد وكذلك عن طريق ابل بي
              
              هل موقعنا امن للدفع عبر الانترنت ؟
              نضمن لك تجربة دفع آمنة لعملية الحجز. سيتم تنفيذ عملية الدفع مع البنك الخاص بك باستخدام أحدث تقنيات التشفير الالكتروني التي تتبع أعلى معايير امان
              
              لاضافتهاضغط هنا ، ًهل لديك سؤال لم نتناوله في هذه اسئلة الشائعة؟ اذا كان لديك سؤال
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
