<div class="hotel-details-container">

  <div class="mecca-bg">
    <div class="bg-mask"></div>
  </div>
  <!-- *ngIf="selectedHotel?.roomGroups == undefined && isroomGroups == false " -->
  <div class="col-md-12 search-results d-none">
    <div class="no-search-results-section">
      <div>
        <p>{{selectedHotel.name}} Hotel rooms not available at this time please select another hotel </p>
        <div class="search-btns">
          <button class="btn btn-primary" (click)="backToHotelList()">Back to hotelList</button>
        </div>
      </div>
    </div>
  </div>
  <!-- *ngIf="selectedHotel?.roomGroups != undefined && isroomGroups == true " -->
  <div class="container-fluid">
    <div class="">
      <div class="hotel-details-wrapper">
        <section class="hotel-image-and-reviews">
          <div>
            <div class="hotel-images">
              <div class="row hotel-data">
                <div class="col-md-9">
                  <div class="hotel-desc-images">


                    <div class="row">

                      <div class="col-md-10 col-9">
                        <div class="hotel-description">
                          <h5>{{selectedHotel?.name}}</h5>
                          <p class="hotel-booking-description" [innerHtml]="selectedHotel.description"></p>
                        </div>
                      </div>

                      <div class="col-md-2 col-3 hotel-star-rating">
                        <div class="reviews-score">
                          <!-- review score -->
                          <div class="reviews-wrapper">
                            <div class="review-container">
                              <div>
                                <span class="review-caption">review score</span>
                                <span class="reviews-count"> 000 reviews</span>
                              </div>
                              <div class="favourite-selection">
                                <span class="review-score">9.5</span>
                              </div>
                            </div>
                            <div class="star-rating">
                              <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>
                                </span>
                              </ng-template>
                              <ngb-rating [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="hotel-image-lightbox">
                      <div class="d-flex flex-row mb-3">
                        <div class="p-2 main-img">
                          <!-- <img src="assets/search-bg.jpg" alt=""> -->
                          <div *ngIf="selectedHotel?.images!=undefined">
                            <div *ngIf="selectedHotel?.images.length>0">
                              <img [src]='selectedHotel?.imagePath'
                                onError="this.src='assets/images/img_not_avalable.png';" alt=" no image available">
                            </div>
                            <div *ngIf="selectedHotel?.images.length === 0" [hidden]=true>
                              <p>image not found</p>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-column lightbox-col-images mb-0">
                          <div *ngIf="selectedHotel?.images!=undefined">
                            <div *ngIf="selectedHotel?.images.length>0">
                              <div class="p-2" *ngFor="let img of selectedHotel?.images|slice:0-3">
                                <img src='img.url'
                                onError="this.src='assets/images/img_not_avalable.png';" alt=" no image available">
                              </div>
                            </div>
                            <div *ngIf="selectedHotel?.images.length === 0" [hidden]=true>
                              <p>image not found</p>
                            </div>
                          </div>
                          <div *ngIf="selectedHotel?.images!=undefined">
                            <img src='assets/images/img_not_avalable.png'>
                          </div>
                          <!-- <div class="p-2">
                            <img src='selectedHotel?.imagePath'
                            onError="this.src='assets/images/img_not_avalable.png';" alt=" no image available">
                          </div>
                          <div class="p-2">
                            <img src="assets/search-bg.jpg" alt="">
                          </div>
                          <div class="p-2 see-all-img">
                            <img src="assets/search-bg.jpg" alt="">
                            <button class="btn btn-md see-all-btn" (click)="lightbox.open(0)">See all photos</button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="light-box d-none">
                      <p class="container" gallerize>
                        <img *ngFor="let img of imageData" [src]="img.srcUrl">
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="reviews-and-contact">
                    <div class="contact">
                      <h5>Hotel Contact:</h5>
                      <ul>
                        <li><img class="" src="assets/images/icons/Phone-Icon.svg">+{{saudiPhoneCode}} {{hotelPhone}}
                        </li>
                        <li><img class="" src="assets/images/icons/email.png">{{selectedHotel.email}}</li>
                        <li class="detail-contact"><img class="" src="assets/images/icons/Group.png">
                          <div>{{selectedHotel.address}}</div>
                        </li>
                      </ul>
                    </div>
                    <div class="reviews d-none">
                      <h5>Reviews:</h5>
                      <ul>
                        <li class="reviews-list">
                          <ul>
                            <li>
                              <span class="review-user-name">Abdullah Alsaad</span>
                            </li>
                            <li>
                              <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>
                                </span>
                              </ng-template>
                              <ngb-rating [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                              <span>2w</span>
                            </li>
                            <li><small class="review-content"> Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</small></li>
                          </ul>
                        </li>
                        <li class="reviews-list">
                          <ul>
                            <li>
                              <span class="review-user-name">Abdullah Alsaad</span>
                            </li>
                            <li>
                              <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>
                                </span>
                              </ng-template>
                              <ngb-rating [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                              <span>2w</span>
                            </li>
                            <li><small class="review-content"> Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</small></li>
                          </ul>
                        </li>
                        <li class="reviews-list">
                          <ul>
                            <li>
                              <span class="review-user-name">Abdullah Alsaad</span>
                            </li>
                            <li>
                              <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>
                                </span>
                              </ng-template>
                              <ngb-rating [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                              <span>2w</span>
                            </li>
                            <li><small class="review-content"> Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</small></li>
                          </ul>
                        </li>
                        <li class="reviews-list">
                          <ul>
                            <li>
                              <span class="review-user-name">Abdullah Alsaad</span>
                            </li>
                            <li>
                              <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>
                                </span>
                              </ng-template>
                              <ngb-rating [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                              <span>2w</span>
                            </li>
                            <li><small class="review-content"> Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</small></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="room-type-and-info">
            <div class="row custom-datepickers">
              <div class="col-md-4 room-info">
                <div class="date-pickers">
                  <div class="calendar-dates">
                    <label for="return_date">Check In</label>
                    <div class="form-group">
                      <div class="input-group input-group-lg">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <input class="form-control" placeholder="dd-mm-yyy" name="dp2" ngbDatepicker #d2="ngbDatepicker"
                          #checkOut [readonly]="true" [value]="searchDate.request.checkInDate">
                        <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="calendar-dates">
                    <label for="return_date">Check Out</label>
                    <div class="form-group">
                      <div class="input-group input-group-lg">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <input class="form-control" placeholder="dd-mm-yyy" name="dp2" ngbDatepicker #d2="ngbDatepicker"
                          #checkOut [readonly]="true" [value]="searchDate.request.checkOutDate">
                        <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 guests-section">
                <label for="">Guests</label>
                <div class="guests-input">
                  <div class="input-group mb-2 input-group-lg">
                    <div class="input-group-prepend input-group-append">
                      <div class="input-group-text"><img class="icon-size" src="assets/images/icons/user.png"
                          alt="Ground-service"></div>
                    </div>
                    <!-- <input type="guests" class="form-control" disabled /> -->
                    <input type="guests" class="form-control" disabled [value]="travellerCount" />
                    <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6 policies-section" *ngIf="policies.length > 0">
                <div>
                  <button class="btn btn-md" data-toggle="modal" data-target="#policiesModal">Policies</button>
                </div>
              </div>
              <div class="modal" id="policiesModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5>Policies</h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <p>Type: <span>{{policies[0]?.type}}</span></p>
                        <p>Description: <span>{{policies[0]?.description}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td>
                      Room type
                    </td>
                    <td>
                      Guests
                    </td>
                    <td>
                      Price per night
                    </td>
                    <td>
                      <!-- Room type -->
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let room of selectedHotel?.roomGroups[0]?.rooms let i = index;">
                    <td>
                      <p class="room-type-name">Room Name: {{room?.name}}</p>
                      <p class="">Room Description: {{room?.description}}</p>
                      <div class="room-type-image-lightbox">
                        <div class="d-flex flex-row mb-3">
                          <div class="p-2 room-type-main-img">
                            <div *ngIf="room?.images!=undefined">
                              <div *ngIf="room?.images.length>0">
                                <div class="p-2" >
                                  <img [src]='room?.images[0].url'
                                  onError="this.src='assets/images/img_not_avalable.png';" alt=" no image available">
                                </div>
                              </div>
                            </div>
                            <div *ngIf="room?.images!=undefined">
                              <img src='assets/images/img_not_avalable.png'>
                            </div>
                          </div>
                          <div class="d-flex flex-column room-lightbox-col-images mb-0">
                            <div *ngIf="selectedHotel?.images!=undefined">
                              <div *ngIf="selectedHotel?.images.length>0">
                                <div class="p-2" *ngFor="let img of selectedHotel?.images|slice:0-3">
                                  <img src='img.url'
                                  onError="this.src='assets/images/img_not_avalable.png';" alt=" no image available">
                                </div>
                              </div>
                              <div *ngIf="selectedHotel?.images.length === 0" [hidden]=true>
                                <p>image not found</p>
                              </div>
                            </div>
                            <div *ngIf="selectedHotel?.images!=undefined">
                              <img src='assets/images/img_not_avalable.png'>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-between" *ngIf="room?.adultsCount.length>0">
                        <div class="adults-count">
                          <img src="assets/images/icons/man-standing-up.png" alt=""
                            *ngFor="let adultImage of room?.adultsCount">
                          <!-- <img src="assets/images/icons/man-standing-up.png" alt=""> -->
                        </div>
                        <div class="guest-count-value">{{room?.adultsCount.length}} adults</div>
                      </div>
                      <div class="d-flex justify-content-between d-none" *ngIf="room?.childCount.length>0">
                        <div class="child-count" *ngFor="let childImage of room?.childCount"><img
                            src="assets/images/icons/children.png" alt=""></div>
                        <div class="guest-count-value">{{room?.childCount.length}} child</div>
                      </div>
                    </td>
                    <td class="custom-select-section">
                      <div *ngFor="let roomaAmount of room.displayRateInfo" class="d-none">
                        <p class="nights-count" *ngIf="roomaAmount.purpose == 1">
                          1 nights {{roomaAmount.amount | number : "1.2-2"}} {{roomaAmount.currencyCode}}</p>

                      </div>

                      <div>
                        <p class="nights-count">
                          1 nights {{room.displayRateInfo[0].amount | number : "1.2-2"}}
                          {{room.displayRateInfo[0].currencyCode}}</p>
                        <small>+ {{getTaxexInfo(room.displayRateInfo).totalTxAmount | number : "1.2-2" }}
                          {{room.displayRateInfo[0].currencyCode}}
                          taxs</small>

                      </div>
                    </td>

                    <td class="custom-select-section">
                      <button class="btn book-room-btn" (click)="onRoomAvailability(selectedHotel,room)">Book
                        room</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section>
          <div class="property-and-map">
            <div class="row">
              <!-- <div class="col-md-8">
                <div class="property-details">
                  <h5>Property Details :</h5>
                  <p [innerHtml]="currentHotelAvailability.description">
                  </p>
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div class="property-map">
                  <agm-map [latitude]="currentHotelAvailability.latitude" [zoom]="zoom"
                    [longitude]="currentHotelAvailability.longitude">
                    <agm-marker [latitude]="currentHotelAvailability.latitude"
                      [longitude]="currentHotelAvailability.longitude"></agm-marker>
                  </agm-map>
                </div>
              </div> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
<!-- 
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#BB9356" type="ball-pulse-sync" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>