@import "../../../assets/variables/global-variables";

.bg-image {
  background-image: url(../../../assets/search-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 250px;
  margin-bottom: 10px;
  position: relative;

  @include mobile {
    height: 143px;
  }

  .bg-mask {
    position: absolute;
    top: 0;
    left: 0;
    background: #BB9356;
    opacity: 0.6;
    height: 100%;
    width: 100%;
  }
}

//Custom ngSelect

.ng-select.custom-select {
  border-radius: 5px;
  padding: 0;
  height: calc(1.5em + 0.75rem + 0px);
  border: transparent;
}

::ng-deep.ng-select.custom-select.ng-select-single .ng-select-container {
  height: 38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: transparent;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #fff;
  border-radius: 2px;
  background-color: #bb9356;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #fff !important;
  border-radius: 2px;
  background-color: #bb9356 !important;
}

//custom ngselect
.grpund-service-panel {
  .ground-service-filter-mask {
    border-radius: $border-radius;
    background-color: rgba(58, 58, 58, 0.7);
    padding: 20px;

    .search-btn {
      display: flex;
      justify-content: center;
      border-radius: 5px;
      background-color: $primary-color;
      color: $light-font-color;

      img {
        height: 25px;
        width: 25px;
      }
    }
  }


  /*  .ground-service-data-panel{
        .groundservice-icon-size {
            height: 35px;
            width: 35px;
            padding: 5px;
          }
          .skeleton-layout-card {
            border: 1px solid rgba(58, 58, 58, 0.7);
            border-radius: $border-radius;
            margin-top: 5px;
            margin-bottom: 10px;
          }
          .ground-service-heder{
            h4{
                line-height: 35px;
              }
          }
          .ground-service-data-grid{
              li{
                border: 1px solid rgba(58, 58, 58, 0.7);
                border-radius: $border-radius;
                margin-top: 5px;
                margin-bottom: 10px;
              }
    
              .booking-price{
                .book-transport{
                    border-radius: 5px;
                    background-color: $primary-color;
                    color: $light-font-color;
                  }
              }
          }
          
      } */

  .transport-data-panel {

    .transportlist-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 10px 0;

      .transport-icon-size {
        height: 35px;
        width: 35px;
        padding: 5px;
      }

      h4 {
        line-height: 35px;

        @include mobile {
          font-size: 20px;
        }
      }

      .resp-search-filter {
        background-color: $primary-color;
        color: $light-font-color;
      }
    }

    .transport-wrapper {

      // transport filter Styles
      .search-results {
        .no-search-results-section {
          text-align: center;
          padding: 12px;
          margin: 40px;

          // box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
          .search-btns {
            button {
              margin: 10px 11px;
              background-color: $primary-color;
              color: $light-font-color;
              border: solid 1px $primary-color;
              box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
              border-radius: 8px;
            }
          }
        }
      }

      .transport-filters {
        box-sizing: border-box;
        border: 2px solid $primary-color;
        border-radius: 10px;
        background-color: $light-font-color;
        box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.3);

        .filter-block-title {
          border-radius: 4px 5px 0 0;
          background-color: $primary-color;
          padding: 15px;
          color: $light-font-color;

          h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
          }

          i {
            color: #fff;
            float: right;
          }
        }

        .transport-filters-list {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 0;
            border-bottom: 2px solid $primary-color;

            .filter-wrapper {
              padding: 8px 16px;

              .filter-header {
                display: flex;
                  justify-content: space-between;
                  align-items: center;
               
                  h5 {
                    margin-bottom: 0;
                    color: #5c6163;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21px;
                  }

                  span {
                    color: #c2c2c2;
                    font-size: 11px;
                    cursor: pointer;
                  }
                  a {
            
                  i {
                    line-height: 27px;
                  }
                }
              }

              /* .filter-options {
    
              } */

            }

            &::last-child {
              border-bottom: transparent;
            }
          }
        }
      }

      // transport filter

      // transport list
      .transport-list-items {
        .filter-options-header {

          label {
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: $secondary-color;
          }

          #price-slider {
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
          }

          .date-pickers {
            display: flex;

            .calendar-dates {
              -webkit-box-flex: 0;
              flex: 0 0 50%;
              max-width: 50%;

              .form-group {
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
              }
            }
          }

          .filter-search-btn {
            background-color: $primary-color;
            padding: 8px 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

            img {
              height: 20px;
              width: 20px;
              vertical-align: middle;
            }
          }

          .switch-icons {
            flex-direction: column;
            margin-bottom: 5px;

            .list-view {
              cursor: pointer;

              span {
                display: block;
                height: 5px;
                width: 25px;
                background-color: $primary-color;
                border-radius: 3px;
                margin-bottom: 3px;
              }
            }

            .grid-view {
              display: flex;
              flex-wrap: wrap;
              width: 35px;
              justify-content: center;
              cursor: pointer;

              span {
                display: block;
                width: 10px;
                height: 10px;
                background-color: #c2c2c2;
                margin-right: 3px;
                margin-bottom: 3px;
              }
            }

            .no-of-hotels-display {
              select {
                border: transparent;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
              }
            }
          }
        }

        .no-of-lists {

          @include mobile {
            margin-top: 15px;

          }

          h5 {
            color: $primary-color;
            line-height: 21px;
            font-weight: bold;
          }
        }

        .transport-data-grid {
          ul {
            list-style: none;
            padding: 0;
            margin-bottom: 30px;

            li {
              margin-bottom: 15px;

              .transport-item {
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
                background-color: $light-font-color;
                border-radius: 10px;
                border: 1px solid $primary-color;

                @include mobile {
                  padding: 0px 0px 10px 0px;
                }

                .transport-image {
                  img {
                    width: 280px;
                    height: 186px;
                    border-bottom-left-radius: 7px;
                    border-top-left-radius: 7px;
                    // width: 100%;
                    // height: 100%;
                    // max-width: 280px;
                    // border-top-left-radius: 10px;
                    // border-bottom-left-radius: 10px;
                  }
                }

                .transport-details {
                  padding: 10px 20px;

                  @include mobile {
                    padding: 10px 20px;
                  }

                  .transport-title {
                    color: #3a3a3a;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    // margin-bottom: 0;
                  }

                  .transport-address {
                    color: #3a3a3a;
                    font-size: 13px;
                    // line-height: 10px;
                    font-weight: 500;

                    margin-bottom: 5px;
                  }

                  .transport-description {
                    color: #3a3a3a;
                    font-size: 13px;
                    // line-height: 10px;
                    font-weight: 500;
                  }
                }

                .transport-price {
                  align-self: center;
                  text-align: center;

                  .transport-price-styling {
                    .transport-price {
                      color: #3a3a3a;
                      font-size: 12px;
                      font-weight: 500;
                      line-height: 14px;
                    }
                  }

                  .book-transport-btn {
                    background-color: $primary-color;
                    border-radius: 5px;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
                    color: $light-font-color;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                  }
                }
              }
            }

            .booking-price {
              .book-transport {
                border-radius: 5px;
                background-color: $primary-color;
                color: $light-font-color;
              }
            }
          }

          ::ng-deep .ngx-pagination {
            .disabled {
              color: #000 !important;
            }

            a {

              // color: $light-font-color !important;
              &:hover {
                background: transparent !important;
              }
            }

            padding-left: 0px !important;

            .current {
              border-radius: 8px;
              background-color: $primary-color !important;
              color: $light-font-color !important;
            }

            .pagination-next {
              a {
                &::after {
                  content: ">" !important;
                  background: $primary-color;
                  padding: 10px 18px;
                  border-radius: 25px;
                  box-shadow: 3px 1px 10px 4px rgba(0, 0, 0, 0.25);
                  color: $light-font-color;
                }
              }
            }

            .pagination-previous {
              a {
                &::before {
                  content: "<" !important;
                  background: $primary-color;
                  padding: 10px 18px;
                  border-radius: 25px;
                  box-shadow: 3px 1px 10px 4px rgba(0, 0, 0, 0.25);
                  color: $light-font-color;
                }
              }
            }

            .pagination-previous.disabled {
              &::before {
                content: "<" !important;
                background: #fff;
                padding: 10px 18px;
                border-radius: 25px;
                box-shadow: 3px 1px 10px 4px rgba(0, 0, 0, 0.25);
              }
            }

            .pagination-next.disabled {
              &::after {
                content: ">" !important;
                background: #fff;
                padding: 10px 18px;
                border-radius: 25px;
                box-shadow: 3px 1px 10px 4px rgba(0, 0, 0, 0.25);
              }
            }
          }

        }
      }

      // transport list
    }


    .skeleton-layout-card {
      border: 1px solid rgba(58, 58, 58, 0.7);
      border-radius: $border-radius;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .starting-price-section {
    display: flex;

    .starting-price {
      display: flex;
      flex-direction: column;

      // padding-right: 20px;
      .booking-item-price-from {
        font-size: 12px;
        color: #ccc;
      }
    }

    .book-room {
      @include mobile {
        padding: 13px 12px;
        line-height: 1;
      }
    }
  }

  .booking-availability {
    padding-top: 30px;

    .table-bordered thead th {
      text-align: center;
    }

    tabel th,
    td {
      text-align: center;

      .vehicle {
        text-align: -webkit-center;
      }

      .vech-capacity {
        width: 90px;
        padding: 0px 3px;

      }
    }


    thead {
      background-color: #BB9356;
      color: #fff;

      tr {
        i {
          color: #fff;
          padding-right: 7px;
          font-size: 14px;
        }
      }
    }

    // thead {
    //   background-color: #f9f9f9;

    //   tr {
    //     i {
    //       color: #ccc;
    //       padding-right: 7px;
    //       font-size: 14px;
    //     }
    //   }
    // }

    // tbody {
    //   tr {
    //     td {
    //       .form-group {
    //         .custom-select {
    //           width: 78px !important;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  .book-room {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;

    @include mobile {
      font-size: 12px;
    }
  }

  .booking-item-price {
    font-size: 14px;
    font-weight: bold;
    padding-right: 25px;
  }
}

::ng-deep {
  .ng-select .ng-select-container {
    border: 1px solid #ccc !important;
  }

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    font-size: 12px !important;
    // color: $light-font-color !important;
  }
}

.booking-item-sec {
  display: flex;
  align-items: center;
  justify-content: center;

  .booking-item-price-sec {
    display: flex;
    flex-direction: column;

    .booking-item-price {
      font-size: 17px;
    }
  }
}

.booking-item-taxes{
   font-weight: 300;
}

.custom-color {
  color: #ccc;
  font-size: 14px !important;
}

#vehicle-type {
  border-bottom: 2px solid #fff !important;
}

// ************* Customize the ng5-slider  **********
::ng-deep {
  .ng5-slider .ng5-slider-pointer {
    background-color: $primary-color !important;
  }

  .ng5-slider .ng5-slider-pointer .ng5-slider-active::after {
    background: #fff !important;
  }

  .ng5-slider .ng5-slider-selection {
    background: $primary-color !important;
  }

  .ng5-slider .ng5-slider-bubble {
    color: #BB9356 !important;
    font-size: 14px !important;
  }
}


// Custom Scrollbar styles

::-webkit-scrollbar {
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey; 
  border: solid 1px $primary-color;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

.ground-availability {
  .transport-wrapper {

    // transport filter Styles
    .search-results {
      .no-search-results-section {
        text-align: center;
        padding: 12px;
        margin: 40px;

        // box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
        .search-btns {
          button {
            margin: 10px 11px;
            background-color: $primary-color;
            color: $light-font-color;
            border: solid 1px $primary-color;
            box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
          }
        }
      }
    }
  }
}

// Filter for mobile
.forMobileFilter {
  display: block;
  position: relative;
  z-index: 5;
  top: 1px;

  @include mobile {
    display: none;
  }
}

.forHotelListMObile {
  display: none;
}
// ***************** Custom styles for Sweet alert  *****************
::ng-deep {
  .swal2-popup {
    width: 22em !important;
    height: 107px !important;
  }
  .swal2-icon {
    width: 3em;
    height: 3em;
  }
  .swal2-icon.swal2-success {
    border-color: #bb9356;
    color: #bb9356;
    margin: 2px;
}
  .swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 1.5em;
    right: 0.35em;
    width: 1.7375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: $primary-color;
  }

  .swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.75em;
    left: 0.5em;
    width: 1em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: $primary-color;
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: 0.2em;
    left: -.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: .25em solid rgba(165,220,134,.3);
    border-radius: 50%;
  }
  .swal2-icon.swal2-success .swal2-success-fix {
    display: none;
  }
  .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    display: none;
  }
  .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    display: none;
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    display: none;
  }
} 