<div *ngIf="isStepperVisible" class="stepper-container">
  <div class="container">
    <div class="d-flex">
      <div [ngClass]="stepPageCount >= 0 ? 'inner-stepper' : 'active-stepper'">
        <div class="stepper-icon">
          1
        </div>
        <div class="stepper-title">Choose the date</div>
      </div>

      <span
        [ngClass]="stepPageCount >= 0 ? 'active-span' : 'inner-span'"
      ></span>

      <div [ngClass]="stepPageCount >= 1 ? 'inner-stepper' : 'active-stepper'">
        <div class="stepper-icon">
          2
        </div>
        <div class="stepper-title">Book your Hotel</div>
      </div>
      <span
        [ngClass]="stepPageCount >= 1 ? 'active-span' : 'inner-span'"
      ></span>
      <div [ngClass]="stepPageCount >= 2 ? 'inner-stepper' : 'active-stepper'">
        <div class="stepper-icon">
          3
        </div>
        <div class="stepper-title">E-visa</div>
      </div>
      <span
        [ngClass]="stepPageCount >= 2 ? 'active-span' : 'inner-span'"
      ></span>
      <div [ngClass]="stepPageCount >= 3 ? 'inner-stepper' : 'active-stepper'">
        <div class="stepper-icon">
          4
        </div>
        <div class="stepper-title">Apply</div>
      </div>
    </div>
  </div>
</div>
