<!-- <p>
  booking-list works!
</p> -->

<div class="ground-service-panel">
  <div>
    <form [formGroup]="bookingListForm">
      <div class="container-fluid">
        <div class="ground-service-filter-mask">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">CheckIn Date</label>
                <div class="form-group custom-border">
                  <div class="input-group input-group-md">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                        <img class="icon-size" src="assets/images/icons/calendar.png" alt="calendar">
                      </button>
                    </div>
                    <input class="form-control custom-left-input" placeholder="DD-MM-YYYY" name="dp2" ngbDatepicker
                      [formControl]="bookingListForm.controls.checkIn" #d1="ngbDatepicker" #checkIn
                      [ngClass]="{'validationClass': bookingListFormValidationFlag && bookingListForm.controls['checkIn'].errors}"
                      (focus)="d1.open()">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">CheckOut Date</label>
                <div class="input-group input-group-md checkout-input">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar brad-none" (click)="d2.toggle()" type="button">
                      <img class="icon-size" src="assets/images/icons/calendar.png" alt="calendar">
                    </button>
                  </div>
                  <input class="form-control custom-right-input custom-calendar" placeholder="DD-MM-YYYY" name="dp2"
                    [formControl]="bookingListForm.controls.checkOut" ngbDatepicker #d2="ngbDatepicker" #checkOut
                    [ngClass]="{'validationClass': bookingListFormValidationFlag && bookingListForm.controls['checkOut'].errors}"
                    (focus)="d2.open()">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Booking Status</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon-size" src="assets/images/icons/flag.png"
                        alt="transport-class">
                    </div>
                  </div>
                  <ng-select
                    [ngClass]="{'validationClass': bookingListFormValidationFlag && bookingListForm.controls['bookingStatus'].errors}"
                    class="custom-input" [items]="bookingStatus" [virtualScroll]="true"
                    placeholder="Select Booking Status" [formControl]="bookingListForm.controls.bookingStatus"
                    bindLabel="bookingStatus">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 dropdown">
              <div class="form-group">
                <label for="">Booking Start Date</label>
                <div class="form-group custom-border">
                  <div class="input-group input-group-md">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button">
                        <img class="icon-size" src="assets/images/icons/calendar.png" alt="calendar">
                      </button>
                    </div>
                    <input class="form-control custom-left-input" placeholder="DD-MM-YYYY" name="dp3" ngbDatepicker
                      [formControl]="bookingListForm.controls.bookingStartDate" #d3="ngbDatepicker" #checkIn
                      [ngClass]="{'validationClass': bookingListFormValidationFlag && bookingListForm.controls['bookingStartDate'].errors}"
                      (focus)="d3.open()">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Booking End Date</label>
                <div class="input-group input-group-md checkout-input">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar brad-none" (click)="d4.toggle()" type="button">
                      <img class="icon-size" src="assets/images/icons/calendar.png" alt="calendar">
                    </button>
                  </div>
                  <input class="form-control custom-right-input custom-calendar" placeholder="DD-MM-YYYY" name="dp4"
                    [formControl]="bookingListForm.controls.bookingEndDate" ngbDatepicker #d4="ngbDatepicker" #checkOut
                    [ngClass]="{'validationClass': bookingListFormValidationFlag && bookingListForm.controls['bookingEndDate'].errors}"
                    (focus)="d4.open()">
                </div>
              </div>
            </div>
            <div class="col-md-4 clickBtns">
              <div class="row">
                <div class="col-md-6 search-btn">
                  <button class="btn btn-md btn-block" (click)="searchBookingList()">Search</button>
                </div>
                <div class="col-md-6 search-btn">
                  <button class="btn btn-md btn-block" (click)="reset()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container-fluid">

    <div class="noDataFound" *ngIf="hotelBookingList.length == 0 && transportBookingList.length == 0 && groundBookingList.length == 0">
      <h4>No Results Found</h4>
    </div>
    <div class="row" *ngIf="hotelBookingList.length != 0 || transportBookingList.length != 0 || groundBookingList.length != 0">
      <div class="col-md-12">
        <div class="accordion-block">
          <div id="accordion">
            <!-- <h6>hii</h6> -->
            <div class="card" *ngFor = "let hotel of hotelBookingList">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#hotelBookingList">
                  <h4>BRN : {{hotel?.providerConfirmationId}}</h4>
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>
              </div>
              <div id="hotelBookingList" class="collapse">
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row" *ngIf = "hotelBookingList.length == 0">
                      <p class="noDataFound">No Hotel Data Available</p>
                    </div>
                    <div class="row" *ngIf = "hotelBookingList.length > 0">
                      <div class="col-md-4">
                        <label for="">Booking Creation Date:</label>
                        <p>{{hotel.bookingTime |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Check In Date</label>
                        <p>{{hotel.checkIn |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Check Out Date</label>
                        <p>{{hotel.checkOut |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">No of Rooms</label>
                        <p>{{hotel.roomInfo[0]?.rooms?.length}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">No of Adults</label>
                        <p>{{hotelPaxInfo(hotel.roomInfo[0]?.paxInfo).adults}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Hotel Name</label>
                        <p>{{hotel.propertyName}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Country</label>
                        <p>{{hotel.country}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">City</label>
                        <p>{{hotel.city}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Amount(SAR)</label>
                        <p>{{hotelCalculations(hotel.roomInfo).groupAmount | number : "1.2-2"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  asddddddfgh -->
                <div class="container-fluid d-none">
                  
                  <div class="listBtns" *ngIf = " hotelBookingList.length > 0 || transportBookingList.length > 0 || groundBookingList.length > 0">
                    <button class="btn btn-md" (click) = "hotel()" >Hotel</button>
                    <button class="btn btn-md" (click) = "transport()">Transport</button>
                    <button class="btn btn-md" (click) = "ground()">Ground</button>
                  </div>
                  <div class="d-none" *ngIf = " hotelBookingList.length == 0 && transportBookingList.length == 0 && groundBookingList.length == 0">    
                      No Results  Found
                  </div>
                </div>
                <div class="container-fluid d-none">
                  <div class="bookingListTable" >
                    <div class="table-responsive">
                      <div *ngIf = "hotelFlag == true && transportFlag == false && groundFlag == false && hotelBookingList.length == 0">        
                        <p>  No Results  Found</p>
                      </div>
                      <table class="table table-bordered" *ngIf = "hotelFlag && hotelBookingList.length > 0">
                        <thead>
                          <th>Booking Creation Date</th>
                          <th>Check In Date</th>
                          <th>Check Out Date</th>
                          <th>No of Rooms</th>
                          <th>No of Adults</th>
                          <th>Hotel Name</th>
                          <th>Country</th>
                          <th>City</th>
                          <th>Amount(SAR)</th>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let hotel of hotelBookingList">
                            <td>{{hotel.bookingTime |  date : "y-MM-dd"}}</td>
                            <td>{{hotel.checkIn |  date : "y-MM-dd"}}</td>
                            <td>{{hotel.checkOut |  date : "y-MM-dd"}}</td>
                            <td>{{hotel.roomInfo[0]?.rooms?.length}}</td>
                            <td>{{hotelPaxInfo(hotel.roomInfo[0]?.paxInfo).adults}}</td>
                            <td>{{hotel.propertyName}}</td>
                            <td>{{hotel.country}}</td>
                            <td>{{hotel.city}}</td>
                            <td>{{hotelCalculations(hotel.roomInfo).groupAmount | number : "1.2-2"}}</td> 
                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf = " transportFlag == true && hotelFlag == false && groundFlag == false && transportBookingList.length == 0">    
                        <p> No Results  Found </p>
                      </div>
                      <table class="table table-bordered" *ngIf = "transportFlag && transportBookingList.length > 0">
                        <thead>
                          <th>Booking Creation Date</th>
                          <th>CheckIn Date</th>
                          <th>No of Adults</th>
                          <th>Transportation Name</th>
                          <th>Amount(SAR)</th>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let booking of transportBookingList">
                            <td> {{booking.bookingTime |  date : "y-MM-dd"}} </td>
                            <td>{{booking.checkIn |  date : "y-MM-dd"}}</td>
                            <td>{{transportion(booking.vehicleTypes).paxDetails}}</td>
                            <td>{{booking.companyName}}</td>
                            <!-- <td>{{booking.}}</td> -->
                            <td>{{transportion(booking.vehicleTypes).totalAmount | number : "1.2-2"}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf = " groundFlag == true && transportFlag == false && hotelFlag == false && groundBookingList.length == 0">    
                        <p> No Results  Found </p>
                      </div> 
                      <table class="table table-bordered " *ngIf = "groundFlag && groundBookingList.length > 0" >
                        <thead>
                          <th>Booking Creation Date</th>
                          <th>CheckIn Date</th>
                          <!-- <th>No of Adults</th> -->
                          <th>Company Name</th>
                          <th>Amount(SAR)</th>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let booking of groundBookingList">
                            <td> {{booking?.checkIn |  date : "y-MM-dd"}} </td>
                            <td>{{booking.checkIn |  date : "y-MM-dd"}}</td>
                            <!-- <td>{{transportion(booking.vehicleTypes).paxDetails}}</td> -->
                            <td>{{booking?.uoName}}</td>
                            <!-- <td>{{booking.}}</td> -->
                            <td>{{gorundService(booking?.category).totalAmount | number : "1.2-2"}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- adsfghsfdgh -->
              </div>
            </div>
            <div class="card" *ngFor = "let booking of transportBookingList">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#transBookingList">
                  <h4>BRN : {{booking?.providerConfirmationId}}</h4>
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>
              </div>
              <div class="collapse" id="transBookingList">
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row" *ngIf = "transportBookingList.length == 0">
                      <p class="noDataFound">No Transport Data Available</p>
                    </div>
                    <div class="row " *ngIf = "transportBookingList.length > 0">
                      <div class="col-md-4">
                        <label for="">Booking Creation Date:</label>
                        <p>{{booking.bookingTime |  date : "y-MM-dd"}} </p>
                      </div>
                      <div class="col-md-4">
                        <label for="">CheckIn Date:</label>
                        <p>{{booking.checkIn |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">No of Adults:</label>
                        <p>{{transportion(booking.vehicleTypes).paxDetails}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Transportation Name:</label>
                        <p>{{booking.companyName}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Amount(SAR):</label>
                        <p>{{transportion(booking.vehicleTypes).totalAmount | number : "1.2-2"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngFor = "let booking of groundBookingList">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#groundBookingList">
                  <h4>BRN : {{booking?.providerConfirmationId}}</h4>
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>
              </div>
              <div class="collapse" id="groundBookingList">
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row" *ngIf = "groundBookingList.length == 0">
                      <p class="noDataFound">No Ground Data Available</p>
                    </div>
                    <div class="row" *ngIf = "groundBookingList.length > 0">
                      <div class="col-md-4">
                        <label for="">Booking Creation Date</label>
                        <p>{{booking?.bookingTime |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">CheckIn Date</label>
                        <p>{{booking.checkIn |  date : "y-MM-dd"}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Company Name</label>
                        <p>{{booking?.uoName}}</p>
                      </div>
                      <div class="col-md-4">
                        <label for="">Amount(SAR)</label>
                        <p>{{gorundService(booking?.category).totalAmount | number : "1.2-2"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>