@import "../../../assets/variables/global-variables";

.ground-service-panel  {

    .ground-service-filter-mask {
        border-radius: $border-radius;
        background-color: rgba(58, 58, 58, 0.7);
        padding: 20px;

        .search-btn {
            button {
                display: flex;
                justify-content: center;
                border-radius: 5px;
                background-color: $primary-color;
                color: $light-font-color;
            }
            img {
                height: 25px;
                width: 25px;
            }
        }
    }
}
   
.form-group ::placeholder {
    font-size: 13px;
  }
.form-group {
    input {
        border-left: solid 1px #ccc;
    }
    label {
        color: #fff;
    }
}
// .searchResults {
    // padding: 40px 15px 20px;
    .searchResults {
        padding: 40px 0px 17px;
        text-align: center;
        p {
            margin: 0px;
            border: solid 2px #ccc;
            padding: 6px;
            font-size: 14px;
            span {
                color: red;
                text-decoration: underline;
                padding: 0px 5px;
            }
        }
    }
// }
.accordion-block {
    padding: 20px 0px;
         .card {
             border: 1px solid $primary-color;
             box-sizing: border-box;
             border-radius: 5px;
              .card-header {
                  background-color: #fff;
                  display: flex;
                  align-items: center;
                  border-bottom: none;
                  border-radius: 5px;

                   a {
                       width: 100%;
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                        h4 {
                            color: #3a3a3a;
                            font-family: "roboto";
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 24px;
                            margin: 0;

                            @include mobile {
                                font-size: 18px;
                            }
                        }
                        i {
                            font-size: 25px;
                        }
                   }


              }
              .card-body {
                  padding: 5px;

                  
                  label {
                      color: $primary-color;
                      font-family: "roboto";
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 16px;
                  }
                  p {
                      color: #3a3a3a;
                      font-family: "roboto";
                      font-size: 14px;
                      line-height: 16px;
                      margin-bottom: 8px;
                  }

                  table, tr, th{
                      padding-right: 150px;
                  }

                  
              } 

              @include mobile {
                .collapse.show {
                    max-width: 100%;
                    overflow-x: scroll;
                    .card-body {
                        width: 790px;
                    }

                    .mutamer-body {
                        width: 100%;

                        .mutamer-container {
                            padding: 10px;
                        }
                    }  
                }

                #collapseSix:last-child {
                    overflow:hidden;
                }
              }

              @include mobile {
                  margin-bottom: 5px;
              }
         }
    }
.bookingListTable {
    padding: 20px 0px;
    .table-responsive {
        text-align: center;
        thead {
            background-color: $primary-color;
            color: #fff;
            font-size: 15px;
        }
        tbody {
            font-size: 14px;
        }
    }
}
.validationClass {
    border: solid 1px red;
}

.custom-input {
    width: 88%;
    border: none;
    // border-bottom: 1px solid #c2c2c2;
    border-radius: 0;
}
::ng-deep {
    .ng-select.ng-select-single .ng-select-container {
        height: 38px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px !important;
    }
    .ng-select .ng-select-container .ng-value-container .ng-placeholder {
        color: #999;
        font-size: 13px;
    }
    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
        font-size: 13px;
    }
}

.clickBtns {
    padding-top: 32px;
}

.listBtns {
    text-align: center;
    padding-top: 17px;
    button {
        margin: 7px;
        border-radius: 5px;
        background-color: $primary-color;
        color: $light-font-color;
    }
}

.accordion-block {
    padding-bottom: 20px;
     .card {
         border: 1px solid $primary-color;
         box-sizing: border-box;
         border-radius: 5px;
         margin-top: 20px;;
          .card-header {
              background-color: #fff;
              display: flex;
              align-items: center;
              border-bottom: none;
              border-radius: 5px;

               a {
                   width: 100%;
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                    h4 {
                        color: #3a3a3a;
                        font-family: "roboto";
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 24px;
                        margin: 0;

                        @include mobile {
                            font-size: 18px;
                        }
                    }
                    i {
                        font-size: 25px;
                    }
               }


          }
          .card-body {
              padding: 5px;

              
              label {
                  color: $primary-color;
                  font-family: "roboto";
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 16px;
              }
              p {
                  color: #3a3a3a;
                  font-family: "roboto";
                  font-size: 14px;
                  line-height: 16px;
                  margin-bottom: 8px;
              }

              table, tr, th{
                  padding-right: 150px;
              }

              
          } 

          @include mobile {
            .collapse.show {
                max-width: 100%;
                overflow-x: scroll;
                .card-body {
                    width: 790px;
                }

                .mutamer-body {
                    width: 100%;

                    .mutamer-container {
                        padding: 10px;
                    }
                }  
            }

            #collapseSix:last-child {
                overflow:hidden;
            }
          }

          @include mobile {
              margin-bottom: 5px;
          }
     }
}
.noDataFound {
    text-align: center;
    padding-top: 20px;
}