<div class="transport-panel">
  <div class="bg-image">
    <div class="bg-mask"></div>
  </div>
  <!-- tranportsearch filter section -->
  <div>
    <form [formGroup]="tranportFormGroup">
      <div class="container-fluid">
        <div class="tranport-filter-mask">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img class="icon-size" src="assets/images/icons/bus.png"
                          alt="calendar"></div>
                    </div>
                    <ng-select [formControl]="tranportFormGroup.controls['routeCode']" [items]="routes" bindLabel="name"
                      [virtualScroll]="true" class="custom-select">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><img class="icon-size" src="assets/images/icons/bus.png"
                              alt="transport-vehicle"></div>
                        </div>
                        <ng-select class="custom-select" [items]="vehicleTypes" [virtualScroll]="true"
                          placeholder="Select Type" [formControl]="tranportFormGroup.controls['vehicleTypeCode']" (change)="vehicleType($event)"
                          bindLabel="name">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><img class="icon-size" src="assets/images/icons/valet.png"
                              alt="transport-class"></div>
                        </div>
                        <ng-select class="custom-select" [items]="tranportCategories" [virtualScroll]="true"
                          placeholder="Select Class" [formControl]="tranportFormGroup.controls['categoryCode']" (change)="transportaionClass($event)"
                          bindLabel="name">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img class="icon-size" src="assets/images/icons/calendar.png"
                          alt="Ground-service"></div>
                    </div>
                    <input type="email" class="form-control" [formControl]="tranportFormGroup.controls['checkin']"
                      disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img class="icon-size" src="assets/images/icons/bus.png"
                          alt="transport-class"></div>
                    </div>
                    <ng-select class="custom-select" [items]="additionalServices" [virtualScroll]="true"
                      placeholder="Select Additional Services"
                      [formControl]="tranportFormGroup.controls['additionalServices']" bindLabel="name" (change)="transportAddtionalService($event)">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><img class="icon-size"
                              src="assets/images/icons/Group_quantity.png" alt="Ground-service"></div>
                        </div>
                        <input type="email" class="form-control" disabled
                          [formControl]="tranportFormGroup.controls['quantity']" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><img class="icon-size" src="assets/images/icons/user.png"
                              alt="Ground-service"></div>
                        </div>
                        <input type="email" class="form-control" disabled
                          [formControl]="tranportFormGroup.controls['noOfPax']" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3"  (click)="onTranportSearch()">
              <div class="search-btn">
                <button class="btn"><img src="assets/images/icons/search_icon.png"
                    alt=""></button>
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
          <!-- </div> -->
        </div>
      </div>
    </form>
  </div>
  <!-- /transportsearch filter section -->

  <!-- Transport data section -->
  <div class="container-fluid">
    <div class="transport-data-panel">
      <div class="mt-md-3 mt-sm-1 transportlist-header">
        <div>
          <img class="transport-icon-size" src="assets/images/icons/bus.png" alt="">
          <h4 class="d-inline">Transportation</h4>
        </div>
        <div class="d-block d-md-none">
          <button class="btn btn-sm resp-search-filter" (click)="onFilterDisplay()">Search Filters</button>
        </div>
      </div>
      <div class="transport-wrapper">
        <div class="row" *ngIf="isTransportListAvailableFlag">

          <!-- TransportList Filter section -->
          <div class="col-md-2 forMobileFilter" [ngClass]="{'forMobileFilter': !isFilterDisplay}">
            <aside class="transport-filters" *ngIf="transportList.length > 0">
              <div class="filter-block-title">
                <h3 class="mb-0 d-inline">Search Filters</h3>
                <i class="fa fa-times d-block d-md-none" (click)="closeFilter()"></i>
              </div>
              <ul class="list transport-filters-list">

                <li id="transport-name">
                  <div class="filter-wrapper">
                    <div class="filter-header">
                      <h5 class="booking-filters-title d-inline">Transportation Name</h5>
                      <span (click)="clearFilter('name')">Clear</span>
                      <a class="card-link" data-toggle="collapse" href="#transportName"> <i
                          class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div id="transportName" class="collapse show filter-options" data-parent="#transport-name">
                      <input type="text" class="form-control" id="price-slider" [(ngModel)]="transport_name_filter"
                        name="transport_name_filter">
                    </div>
                  </div>
                </li>

                <li id="transport-currency">
                  <div class="filter-wrapper">
                    <div class="filter-header">
                      <h5 class="booking-filters-title d-inline">Currency</h5>
                      <span (click)="clearFilter('currency')">Clear</span>
                      <a class="card-link" data-toggle="collapse" href="#transportCurrency">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div id="transportCurrency" class="collapse show filter-options" data-parent="#transport-currency">
                      <ng-select [items]="transportCurrency" [virtualScroll]="true">
                      </ng-select>
                    </div>
                  </div>
                </li>

                <li id="transport-price-range">
                  <div class="filter-wrapper">
                    <div class="filter-header">
                      <h5 class="booking-filters-title d-inline">Price Range</h5>
                      <span (click)="clearFilter('RATING')">Clear</span>
                      <a class="card-link" data-toggle="collapse" href="#transportPriceRange">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div id="transportPriceRange" class="collapse show filter-options"
                      data-parent="#transport-price-range">
                      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                        (userChange)="priceSliderChange($event)"></ng5-slider>
                    </div>
                  </div>
                </li>

                <li id="vehicle-category" class="d-none">
                  <div class="filter-wrapper">
                    <div class="filter-header">
                      <h5 class="booking-filters-title d-inline">Vehicle Category</h5>
                      <span (click)="clearFilter('RATING')">Clear</span>
                      <a class="card-link" data-toggle="collapse" href="#vehicleCategory">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div id="vehicleCategory" class="collapse show filter-options" data-parent="#vehicle-category">

                      <perfect-scrollbar style="position: relative; max-height: 245px;overflow: auto;"
                        >
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox1">
                          <label class="custom-control-label" for="checkbox1">Normal</label>
                          <!-- <span>(15)</span> -->
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox2">
                          <label class="custom-control-label" for="checkbox2">Normal 1</label>
                          <!-- <span>(15)</span> -->
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox3">
                          <label class="custom-control-label" for="checkbox3">Normal 2</label>
                          <!-- <span>(15)</span> -->
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </li>
                <li id="vehicle-type" class="d-none">
                  <div class="filter-wrapper">
                    <div class="filter-header">
                      <h5 class="booking-filters-title d-inline">Vehicle Type</h5>
                      <span (click)="clearFilter('RATING')">Clear</span>
                      <a class="card-link" data-toggle="collapse" href="#vehicleType">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div id="vehicleType" class="collapse show filter-options" data-parent="#vehicle-type">

                      <perfect-scrollbar style="position: relative; max-height: 245px;overflow: auto;"
                        >
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox11">
                          <label class="custom-control-label" for="checkbox1">Normal</label>
                          <!-- <span>(15)</span> -->
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox22">
                          <label class="custom-control-label" for="checkbox2">Normal 1</label>
                          <!-- <span>(15)</span> -->
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 m-b-5 ">
                          <input type="checkbox" class="custom-control-input" id="checkbox33">
                          <label class="custom-control-label" for="checkbox3">Normal 2</label>
                          <!-- <span>(15)</span> -->
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </li>

              </ul>
            </aside>
          </div>
          <!-- /TransportList Filter section -->

          <div class="col-md-10" [ngClass]="{'forHotelListMObile':isFilterDisplay}">
            <!-- Transport List section -->
            <div>
              <!-- Skeleton layout -->
              <div class="col-md-12 p-0 " *ngIf="transportList.length != 0 && isFirstTimeLoad">
                <div *ngFor="let fake of generateTransportSkeletons(5)" class="skeleton-layout-card">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-skeleton-loader count="1" appearance="circle"
                          [theme]="{ width: '280px', height: '186px', 'border-radius': '10px' }"></ngx-skeleton-loader>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mt-2">
                        <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
                      </div>

                    </div>
                    <div class="col-md-3 align-self-center">
                      <div class="mr-2">
                        <ngx-skeleton-loader count="1" [theme]="{height:'52px'}"></ngx-skeleton-loader>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <!-- /skeleton layout  -->

              <!-- transport data found section -->

              <div class="transport-list-items">
                <div class="filter-options-header" [hidden]=true>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label>transport Name</label>
                        <input type="text" class="form-control form-control-lg" id="price-slider"
                          [(ngModel)]="transport_name_filter" name="transport_name_filter">
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="date-pickers">
                        <div class="calendar-dates">
                          <label for="return_date">Check In</label>
                          <div class="form-group">
                            <div class="input-group input-group-lg">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </div>
                              <input class="form-control" placeholder="dd-mm-yyy" name="dp1" ngbDatepicker
                                #d1="ngbDatepicker" #checkIn (focus)="d1.open()" [readonly]="true">
                            </div>
                          </div>
                        </div>
                        <div class="calendar-dates">
                          <label for="return_date">Check Out</label>
                          <div class="form-group">
                            <div class="input-group input-group-lg">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </div>
                              <input class="form-control" placeholder="dd-mm-yyy" name="dp2" ngbDatepicker
                                #d2="ngbDatepicker" #checkOut (focus)="d2.open()" [readonly]="true">

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-3 d-none">
                      <label for="return_date">Check In</label>
                      <div class="form-group">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                            <input class="form-control" placeholder="dd-mm-yyy" name="dp1" ngbDatepicker
                              #d1="ngbDatepicker" #checkIn (focus)="d1.open()" [readonly]="true">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 d-none">
                      <label for="return_date">Check Out</label>
                      <div class="form-group">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="dd-mm-yyy" name="dp2" ngbDatepicker
                              #d2="ngbDatepicker" #checkOut (focus)="d2.open()" [readonly]="true">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                      <button class="btn btn-lg filter-search-btn"><img src="assets/images/icons/search_icon.png"
                          alt="hotel search"></button>
                    </div>
                    <div class="col-1 d-flex align-self-center switch-icons">

                      <div class="d-flex justify-content-between mb-2">
                        <div class="list-view">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                        <div class="grid-view">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <div class="no-of-hotels-display">
                        <select name="" id="" class="form-control form-control-sm">
                          <option value="">1</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="no-of-lists" *ngIf="transportList.length>0 ">
                  <h5>{{transportList.length}} Transportations found - 5 Transportations shown per page.</h5>
                </div>
                <div class="transport-data-grid">
                  <ul>
                    <li
                      *ngFor="let transport of transportList|TransportNameFilter:transport_name_filter |unique |paginate: { itemsPerPage: 5 , currentPage: page };let i= index">
                      <div class="transport-item">
                        <a>
                          <div class="row">
                            <div class="col-md-3 transport-image">
                              <img src="assets/images/img_not_avalable.png" alt="">
                            </div>
                            <div class="col-md-6 transport-details">
                              <h5 class="transport-title">
                                {{transport?.companyName}}
                              </h5>
                              <p class="transport-address">Address:
                                {{transport?.companyAddress}}</p>
                              <span class="transport-description "> {{transport?.companyDescription}}</span>
                              <div>
                                <p class="transport-description "> Category:{{transport?.vehicleTypes[0]?.categories[0]?.catName}}</p>
                                
                              </div>
                              <div *ngIf="transport?.vehicleTypes[0]?.categories[0]?.additionalServices!=undefined">
                                <div class="d-flex"  *ngIf="transport?.vehicleTypes[0]?.categories[0]?.additionalServices.length>0">
                                  <p class="transport-address">Additional Services:</p> 
                                  <ul>
                                    <li
                                      *ngFor=" let additionalServicesItem of transport?.vehicleTypes[0]?.categories[0]?.additionalServices">
                                      <span class="transport-description ">{{additionalServicesItem.description}}</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div *ngIf="transport?.vehicleTypes[0]?.categories[0]?.model!=undefined">
                                <div class="d-flex" >
                                  <p class="transport-address">Model: {{transport?.vehicleTypes[0]?.categories[0]?.model?.from}} -
                                     {{transport?.vehicleTypes[0]?.categories[0]?.model?.to}}</p>
                                </div>
                              </div>
                             
                            </div>
                            <div class="col-md-3 align-items-center justify-content-center transport-price">
                              <div>
                                <div class="transport-price-styling">
                                  <span class="price-from"><span class="transport-price">
                                      {{transport?.vehicleTypes[0]?.categories[0]?.displayRateInfo[0]?.amount}}
                                      {{transport?.vehicleTypes[0]?.categories[0]?.displayRateInfo[0]?.currencyCode}}</span>
                                  </span>
                                </div>
                                <button class="btn book-transport-btn"
                                  (click)="onTransportationViewDetails(transport)">View
                                  Details</button>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  </ul>


                  <pagination-controls class="d-flex justify-content-center" (pageChange)="page = $event"
                    previousLabel="" nextLabel="" autoHide=true>
                  </pagination-controls>
                </div>
              </div>
            </div>
            <!-- /transport data found section -->
          </div>
          <!-- /Transport data section -->
          <!-- transport data not found section -->
          <div class="row">
            <!-- transport data not found section -->
            <div class="col-md-12 search-results" *ngIf="transportList.length == 0 && !isFirstTimeLoad">
              <div class="no-search-results-section">
                <div>
                  <h4>No matches are found for your search</h4>
                  <div class="search-btns">
                    <button class="btn btn-primary back-btn" (click)="searchAgain()">Search again</button>
                    <button class="btn btn-primary back-btn" (click)="skipGroundService()">Skip</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /data not found section -->
          </div>
          <!-- /data not found section -->
        </div>
      </div>
    </div>


    <!-- Transport Availability Section -->
    <div *ngIf="!isTransportListAvailableFlag">
      <div class="d-flex justify-content-between">
        <div class="trans-avail-heading">
          <h5>{{transport?.companyName}}</h5>
          <p>{{transport?.routeName}}</p>
        </div>
        <div class="d-none"gIf="transportAvailabilityFlag == true">
          <div class="starting-price-section">
            <div class="starting-price">
              <span class="booking-item-price-from">Starting from</span>
              <span class="booking-item-price-styling">
                <span class="booking-item-price"><sup>SAR</sup>198.00</span>
              </span>
            </div>
            <span class="btn book-room">Add To Cart</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="search-results" *ngIf="transportAvailabilityFlag == false">

        <div class="no-search-results-section">
          <div>
            <p>Vehicles not Available at this time please select another transportation</p>
            <div class="search-btns">
              <button class="btn btn-primary" (click)="backToTransportList()">Back to transportList</button>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="transportAvailabilityFlag == true">
        <div class="">
          <h6>Overview</h6>
          <p></p>
        </div>
        <div class="booking-availability">

          <h6>Availability</h6>
          <div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Transportation</th>
                    <th>Model(From-To)</th>
                    <th><i class="fa fa-user-o" aria-hidden="true"></i>Capacity</th>
                    <th><i class="fa fa-bus" aria-hidden="true"></i>Quantity</th>
                    <th class="text-center">Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of selectTransportDetails?.vehicleTypes;let i = index">
                    <td>{{vehicle.vehicleTypeName}}</td>
                  <td>{{vehicle?.categories[0].model.from}}- {{vehicle?.categories[0].model.to}}</td>
                    <td>
                      <div class="vehicle">
                        <div class="form-group col-md-12 vech-capacity">
                          <select class="form-control custom-select" data-placeholder="Choose a Category"
                            (change)="vehicleMaxCapacity($event.target.value , vehicle , i)">
                            <!-- <option value="0" selected>0</option> -->
                            <option class="custom-option" value="{{capacity}}"
                              *ngFor="let capacity of vehicle?.categories[0]?.maxPaxCapacity; let j = index ">
                              {{capacity}}
                            </option>
                          </select>
                          <!-- <ng-select (change)="vehicleMaxCapacity($event , vehicle , i)"
                            class="custom-input custom-select" [items]="vehicle?.categories[0]?.maxPaxCapacity"
                            [virtualScroll]="true" placeholder="Select Capacity" bindLabel="capacity">
                          </ng-select> -->
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="vehicle">
                        <div class="form-group col-md-12 vech-capacity">
                          <select class="form-control custom-select" data-placeholder="Choose a Category"
                            (change)="vehicleAviQty($event.target.value , vehicle , i)">
                            <!-- <option value="0" selected>0</option> -->
                            <option value="{{availableQuantity}}"
                              *ngFor="let availableQuantity of vehicle?.categories[0]?.availableQuantity; let k = index">
                              {{availableQuantity}}</option>
                          </select>
                          <!-- <ng-select class="custom-input custom-select" (change)="vehicleAviQty($event , vehicle , i)"
                            [items]="vehicle?.categories[0]?.availableQuantity" [virtualScroll]="true"
                            placeholder="Select Quantity" bindLabel="availableQuantity">
                          </ng-select> -->
                        </div>
                      </div>
                    </td>
                    <!--  -->
                    <td>
                      <div class="booking-item-sec col-md-12">
                        <div class="booking-item-price-sec">
                          <span class="booking-item-price">
                            <sup>SAR</sup>{{vehicle?.categories[0]?.displayRateInfo[2]?.amount}}
                          </span>
                          <div *ngFor="let displayRateInfo of vehicle?.categories[0]?.displayRateInfo">
                            <span class="booking-item-price custom-color" *ngIf="displayRateInfo.purpose == 40">
                              +{{displayRateInfo.amount | number: '1.2-2'}} {{displayRateInfo.currencyCode}}
                              {{displayRateInfo.description}}
                            </span>
                          </div>
                        </div>
                        <!-- <a class="btn btn-primary" href="#" (click)="onNavToGroundService()">Book Now</a> -->

                      </div>
                    </td>

                    <td>
                      <button class="btn book-room" (click)="onGroundService(selectTransportDetails)">
                        Add To Cart
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <h6>Payment Policy</h6>
          <p>5.00% VAT will be applied on booking amount</p>
        </div>
      </div>
      <!-- /Transport Availability Section -->
    </div>
  </div>
</div>
<!-- 
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#BB9356" type="ball-pulse-sync" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>